.infoBody {
  text-align: center;
  /* padding-top: 10px; */

  /* background-color: #1a1b21; */
}
.image > img {
  width: 317px;
  height: 317px;
  /* padding-bottom: -30px; */
  border-radius: 10px 10px 0px 0px;
}
.titile-button {
  background-color: #1a1b21;
  width: 317px;
  margin-left: 116px;
}
.Title {
  font-family: "Inter";
  margin-top: -5px;
  padding-top: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.Title_two {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  /* font-size: 12.8px; */
  line-height: 15px;
  color: #f3bf99;
}

.website {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #f5f5f5;
}
.buttons {
  align-items: center;
  color: #fff;
  display: flex;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
  justify-content: center;
  line-height: 16px;
  margin-top: 12px;
  padding: 0 35px;
}
.buttons {
  align-items: center;
  color: #fff;
  display: flex;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
  justify-content: center;
  line-height: 16px;
  margin-top: 12px;
  padding: 0 35px;
}

.email {
  align-items: center;
  border: none;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 34px;
  justify-content: center;
  width: 115px;
  background: #fff;
}
.email > h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #374151;
}

.linkedin {
  background: #5093e2;
  color: #fff;
  align-items: center;
  border: none;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 34px;
  justify-content: center;
  width: 115px;
}

.linkedin > h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  color: #ffffff;
}
