.footer {
  position: absolute;
  width: 317px;
  height: 64px;
  margin-left: 116px;
  margin-top: -10px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer > img {
  width: 25px;
}
